html {
    height: 100%;
}
body{
	background: #efe7e7;
	height: 100%;
}
.ngView-custom{
	height: 100%;	
}
.stage{
	-webkit-flex : 3;
	height: 100%;
	display: -webkit-flex;
}
.filter{	
	-webkit-flex : 1;
	height: 100%;
	display: -webkit-flex;
}
.osImg{
	height: 200px;
	width: 200px;
	border-radius: 150px;
	padding: 30px
}
.outer{
	display: -webkit-flex;
	height: 100%;
	width: 100%;
}
.stageImageContainer{
	width: 100%;
	display: flex;
    align-items: center;
    justify-content: center;
    border-right: 1px solid #a29494;
}
.filterImageContainer{
	width: 100%;
	display: -webkit-flex;
    align-items: center;
    justify-content: center;
    -webkit-flex-direction: column
}
.filterImg{
	height: 200px;
	width: 200px;
	border-radius: 150px;
	padding: 40px
}
.osImg.ng-enter {
  transition:2.75s;
  opacity:0;
}

.osImg.ng-enter.ng-enter-active {
  opacity:1;
}